@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');


:root{
    --color-gray-100: #F3F6FF;
}



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Manrope", sans-serif;
}

body{
    min-height: 100vh;
    background: url('/images/scottweb.jpg'), no-repeat; /* Ange korrekt sökväg */
    background-size: cover; /* Gör så att bilden täcker hela bakgrunden */
    background-position: center;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.3rem 10%;
    background: rgba(0, 0, 0, .5);
    backdrop-filter: blur(50px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 2rem;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
}

.navbar a {
    font-size: 1.15rem;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 1.5rem;

}

.headline {
    margin-top: 250px; /* Adjust this value as needed to move the headline down */
    text-align: center;
    color: #7a7676d1;
}

h1 {
    font-size: 3rem;
    padding-bottom: 1rem;
}

p{
    font-size: 1.5rem;
    padding-bottom: 1rem;
}

.btn{
    padding: 9px 18px;
    font-size: 1rem;
    border-radius: .3em;
    border: 1px solid #D4D7E5;
    font-weight: 400;
    background-color:#E2E5F1;
    margin-right: 15px; 
    
}

.btn:hover{
    background-color: #B4B7C9;
}


